{% extends "base.html" %} 
{% block content %}
<h2>{{ form.deckname.label }} {{ form.deckname }} </h2>
        <form action="" method="post" novalidate>

            {% for cardform in form.cards %}
            <p>
                {{ cardform.term.label }} {{ cardform.term(size=32) }} 
                {% for error in cardform.term.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ cardform.definition.label }} {{ cardform.definition(size=32) }}
                {% for error in cardform.definition.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {% endfor %}

            <p>{{ form.entry_row() }}</p>
            <p>{{ form.add_card() }}</p>
            <p>{{ form.review() }}</p>
            <a href="{{ url_for('main.index') }}">Back to decks</a>
        </form>
{% endblock %}