{% extends "base.html" %} 
{% block app_content %}
<h2>{{ form.deckname.label }} {{ form.deckname(size=32) }} </h2>
        <form action="" method="post" novalidate>

            {% for cardform_formfield in form.cards %}
            <p>
                {{ cardform_formfield.term.label }} {{ cardform_formfield.term(size=64) }} 
                {% for error in cardform_formfield.term.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ cardform_formfield.definition.label }} {{ cardform_formfield.definition(size=64) }}
                {% for error in cardform_formfield.definition.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {% endfor %}

            <p>{{ form.entry_row() }}</p>
            <p>{{ form.add_card() }}</p>
            <p>{{ form.review() }}</p>
            <a href="{{ url_for('main.index') }}">Back to decks</a>
        </form>
{% endblock %}