{% extends "base.html" %}
{% block content %}
<h2>
    Welcome, {{ user['username'] }}, to FastCards.
</h2>
<h3>{{user['username']}}'s Decks <form action="/browse_edit" method="post" novalidate> {{ empty_deckform.browse_edit()  }} </form></h3>

<form action="/browse_edit" method="post" novalidate>
    {% for deckname, deckform in decks_form.items() %}

    <p>
        {{ deckform.deckname }} &nbsp; {{ deckform.review() }} &nbsp; {{ deckform.browse_edit() }}
    </p>
    {% endfor %}
</form>

{% endblock %}